-# Produces a form to input track data
= form_with model: @track, id: :form do |f|
  - if @track.errors.any?
    #error_explanation
      %h2= "#{pluralize(@track.errors.count, "error")} prohibited this track from being saved:"
      %ul
        - @track.errors.full_messages.each do |message|
          %li= message

  -# Display album and artist name that will be associated with this album
  %p1= "#{@track.album.title} - #{@track.artist.name}"

  .field
    -# Adds the album id this album will be associated
    =f.hidden_field :album_id, value: @track.album.id
  .field
    -# Adds the artist id this album will be associated
    =f.hidden_field :artist_id, value: @track.artist.id

  -# Track name
  .field
    = f.label :name, :class=>"form-labels"
    = f.text_field :name

  -# Track length
  .field
    = f.label :length, :class=>"form-labels"
    = f.text_field :length

  -# Track genre
  .field
    = f.label :genre, :class=>"form-labels"
    = f.text_field :genre

  -# Track release date
  .field
    = f.label :release_date, :class=>"form-labels"
    = f.date_select :release_date
  .actions
    = f.submit 'Save'
