%h1
  = @track.name
%p1
  %b Length:
  = @track.length
%p2
  %b Genre:
  = @track.genre
%p2
  %b Release date:
  = @track.release_date

= link_to 'Edit', edit_track_path(@track)
\|
= link_to 'Back', album_path(@track.album.id)
