%h1
  = @track.name
%p1
  %b= t('.length_heading')
  = @track.length
%p2
  %b= t('.genre_heading')
  = @track.genre
%p2
  %b= t('.release_heading')
  = @track.release_date

= link_to 'Edit', edit_track_path(@track)
\|
= link_to 'Back', album_path(@track.album.id)
