%h1= t('.title')

%table
  %thead
    %tr
      %th Artist

  %tbody
    - @artists.each do |artist|
      %tr
        %td= artist.name
        %td= button_to 'Show', artist, method: :get
        %td= button_to 'Edit', edit_artist_path(artist), method: :get
        %td= button_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Artist', new_artist_path
