%p#notice= notice

%p
  %b Name:
  = @artist.name
%p
  %b Description:
  = @artist.description

%p Albums:
%table
  %tbody
    -@artist.albums.each do |album|
      %tr{id: "album#{album.id}"}
        %td= album.title
        %td= link_to 'Show', album
        %td= link_to 'Edit', edit_album_path(album)
        %td= link_to 'Destroy', album, :method => :delete, :data => {:confirm => 'Are you sure?'}, :remote => true

%p= link_to 'Add Album', new_album_path(artist_id: @artist)

= link_to 'Edit', edit_artist_path(@artist)
\|
= link_to 'Back', artists_path
