-# Produces a form to input album data
= form_with model: @album do |f|
  - if @album.errors.any?
    #error_explanation
      %h2= "#{pluralize(@album.errors.count, "error")} prohibited this album from being saved:"
      %ul
        - @album.errors.full_messages.each do |message|
          %li= message

  -# Display artists name that will be associated with this album
  %p1= @album.artist.name

  .field
    -# Adds the artist id this album will be associated
    =f.hidden_field :artist_id, value: @album.artist.id

  -# Album title
  .field
    = f.label :title, :class=>"form-labels"
    = f.text_field :title

  -# Album description
  .field
    = f.label :description, :class=>"form-labels"
    = f.text_area :description

  -# Album genre
  .field
    = f.label :genre, :class=>"form-labels"
    = f.text_field :genre
  .actions
    = f.submit 'Save'
