%h1= t('.title')

-# Creates a grid to allow all albums to be displayed in
%div{:class=>"grid-container"}
  -# Loops through a list of all album objects
  -@albums.each do |album|
    %div{:class=>"grid-item"}

      -# Creates button that shows the album
      = button_to album, method: :get do
        %div{:id=>"albumTitle"}= album.title
        %div= "By #{album.artist.name}"

      -# Creates button that destroys the album
      = button_to album, :method => :delete, :data => {:confirm => 'Are you sure?'}, :remote => true, :id=>"btnDestroy" do
        %div= "Destroy"

%br
