%h1
  %b= t('.title')
  = @album.title
%p1
  = @album.description
%p2
  %b= t('.genre_heading')
  = @album.genre

%hr

%p2= t('.tracks_heading')
%p= link_to 'Add Track', new_track_path(album_id: @album, artist_id: @artist)

-# Creates a grid to allow all associated tracks to be displayed in
%div{:class=>"grid-container-across", :id=>"gridMargin"}
  -count = 0
  -@album.tracks.each do |track|
    -count += 1

    -# Allocates one grid item to show a track
    %div{:class=>"grid-item"}
      = button_to track, method: :get, :id=>"btnShow" do
      
        -# Creates a grid to format the text within the button
        %div{:class=>"grid-container-across"}
          %div= "##{count} - #{track.name}"
          %div= track.length

    -# Allocated one grid item to destroy a track
    %div{:class=>"grid-item"}
      = button_to track, :method => :delete, :data => {:confirm => 'Are you sure?'}, :remote => true do
        %div= "Destroy"

%div{:id=>"footer"}

  = link_to 'Edit', edit_album_path(@album)
  \|
  = link_to 'Back', artist_path(@album.artist.id)
